<main>
  <h1>Criar Tarefa</h1>
  <div class="card">
    <div class="card-body">
      <form action="/create/tarefa" method="POST">
        <label for="titulo">Título: </label>
        <input type="text" id="titulo" name="titulo" class="form-control">
        <button class="btn btn-success" type="submit">Criar</button>
      </form>
    </div>
  </div>
</main>